extends layout

block content
    div(class="container-fluid", id="v1-container")
        div(class="row text-center")
            h1(class="hero-title w-100")="Brendan Boyle"
        div(class="row text-center")
            h3(class="hero-subtitle w-100")="Design, Code, Secure"
        div(class="row text-center")
            img(src="/images/v1-arrow.svg", id="v1-arrow")
    div(class="container-fluid" id="v2-container")
        div(class="row text-center")
            h1(class="hero-title w-100")="Design"
        div(class="row content-card-row")
            div(class="col-xl-4")
                div(class="content-card")
                    h3(class="card-title w-100")="Web"
                    p(class="card-body")="Like this site? Create professional websites, web-apps and interactive experiences with me! I have over 10 years of experience designing websites."
            div(class="col-xl-4")
                div(class="content-card")
                    h3(class="card-title w-100")="Mobile"
                    img(src="/images/v2-upr.png" id="v2-upr")
                    p(class="card-body")="Take your app to the next level. I create mobile experiences which attract, engage, and retain users."
            div(class="col-xl-4")
                div(class="content-card")
                    h3(class="card-title w-100")="Branding"
                    p(class="card-body")="Upgrade your brand and connect with your users with illustration, social, and video."
                    img(src="/images/v2-wolftank.png", id="v2-wolftank")
