extends layout

block content
    div(class="container-fluid", id="v1-container")
        div(class="row text-center")
            h1(class="hero-title w-100")="Brendan Boyle"
        div(class="row text-center")
            h3(class="hero-subtitle w-100")="Design, Code, Secure"
        div(class="row text-center")
            img(src="/images/v1-arrow.svg", id="v1-arrow")
    div(class="container-fluid" id="v2-container")
        div(class="row text-center")
            h1(class="hero-title w-100")="Design"
        div(class="row content-img-row mt-5")
            div(class="col-md-4")
                div(class=" img-holder")
                    img(src="/images/v2-upr.png")
            div(class="col-md")
                h1="Mobile"
                p="Take your app to the next level. I create mobile experiences which attract, engage, and retain users."
        div(class="row content-img-row mt-5")
            div(class="col-md-4")
                div(class=" img-holder")
                    p(id="v2-web")="<html>"
            div(class="col-md")
                h1="Web"
                p="Like this site? Create professional websites, web-apps and interactive experiences with me! I have over 10 years of experience designing websites."
        div(class="row content-img-row mt-5")
            div(class="col-md-4")
                div(class=" img-holder")
                    img(src="/images/v2-wolftank.png" id="v2-wolftank")
            div(class="col-md")
                h1="Brand"
                p="Upgrade your brand and connect with your users with illustration, social, and video."
    div(class="container-fluid" id="v3-container")
        div(class="row text-center")
            h1(class="hero-title w-100")="Code"
        div(class="row")
            div(class="col-md")
                div(class="card")
                    img(class="card-img-top" src="/images/v3-swift.png" alt="Card image cap")
                    div(class="card-body")
                        h4(class="card-title")="Mobile"
                        p(class="card-text")="Expert developer of native iOS and Android applications."
                    ul(class="list-group list-group-flush")
                        li(class="list-group-item")="Apple WWDC 2016 scholarship winner"
                        li(class="list-group-item")="Developed 10+ high-fidelity apps using Swift 4"
                        li(class="list-group-item")="Extensive UI/UX experience. UIKit expert."
                        li(class="list-group-item")="Test centric development, CI, CocoaPods/Carthage"
                        li(class="list-group-item")="3 years of Swift development, 1 year of Objective C"
                    div(class="card-body")
                        a(href="https://universalpresenterremote.com/" class="card-link btn btn-primary")="UPR: Remote"
                        a(href="https://appadvice.com/app/my-rlfr/1024876737" class="card-link btn btn-primary")="My RLFR"
            div(class="col-md")
                div(class="card")
                    img(class="card-img-top" src="/images/v3-webstack.png" alt="Card image cap")
                    div(class="card-body")
                        h4(class="card-title")="Web"
                        p(class="card-text")="Some quick example text to build on the card title and make up the bulk of the card's content."
                    ul(class="list-group list-group-flush")
                        li(class="list-group-item")="Cras justo odio"
                        li(class="list-group-item")="Cras justo odio"
                        li(class="list-group-item")="Cras justo odio"
                    div(class="card-body")
                        a(href="https://universalpresenterremote.com/" class="card-link btn btn-primary")="UPR: Remote"
                        a(href="https://appadvice.com/app/my-rlfr/1024876737" class="card-link btn btn-primary")="My RLFR"
            div(class="col-md")
                div(class="card")
                    img(class="card-img-top" src="/images/v3-cloud.png" alt="Cloud")
                    div(class="card-body")
                        h4(class="card-title")="Cloud"
                        p(class="card-text")="Some quick example text to build on the card title and make up the bulk of the card's content."
                    ul(class="list-group list-group-flush")
                        li(class="list-group-item")="Cras justo odio"
                        li(class="list-group-item")="Cras justo odio"
                        li(class="list-group-item")="Cras justo odio"
                    div(class="card-body")
                        a(href="https://universalpresenterremote.com/" class="card-link btn btn-primary")="UPR: Remote"
                        a(href="https://appadvice.com/app/my-rlfr/1024876737" class="card-link btn btn-primary")="My RLFR"
            div(class="col-md")
                div(class="card")
                    img(class="card-img-top" src="/images/v3-creative.png" alt="Creative")
                    div(class="card-body")
                        h4(class="card-title")="Creative"
                        p(class="card-text")="Some quick example text to build on the card title and make up the bulk of the card's content."
                    ul(class="list-group list-group-flush")
                        li(class="list-group-item")="Cras justo odio"
                        li(class="list-group-item")="Cras justo odio"
                        li(class="list-group-item")="Cras justo odio"
                    div(class="card-body")
                        a(href="https://universalpresenterremote.com/" class="card-link btn btn-primary")="UPR: Remote"
                        a(href="https://appadvice.com/app/my-rlfr/1024876737" class="card-link btn btn-primary")="My RLFR"
    div(class="container-fluid" id="v4-container")
        div(class="row text-center")
            h1(class="hero-title w-100")="Secure"
